h1 {
  font-size: 1.5em;
  margin-left: 44px;
}
#container { width: 1600px; }
ul { padding: 0;  margin: 0;}
li {
  padding: 0;
  float: left;
  margin: 10px;
  list-style: none;
  outline: solid;
  width: 150px;
  height: 150px;
}

img { 
  width: 100%;
  height: 100%;
}